<div class="btn-toolbar mb-2 mb-md-0">
  <div class="btn-group mr-2">
    <div class="custom-control custom-switch" data-toggle="tooltip" data-placement="bottom" title="<%= title %>">
      <input class="custom-control-input form-control-lg" type="checkbox" value="1" id="<%= id %>">
      <label class="custom-control-label" for="<%= id %>">
        <%= label %>
      </label>
    </div>
  </div>
</div>
