<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <%= link_to('Zerv.IO', root_path, class: 'navbar-brand col-sm-3 col-md-2 mr-0 brand-title') %>

  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <%= render 'shared/ui/components/login-button' %>
    </li>
  </ul>
</nav>
